h2 {
  font-size: 24px;
  font-weight: 300;
}

.product-quick-view {
  display: flex;
  gap: 20px;

  .product-photo {
    width: 400px;
    object-fit: contain;
    img {
      max-width: 400px;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .view-pricing {
      display: flex;
      gap: 10px;
      font-size: 28px;

      .regular {
        text-decoration: line-through;
        font-style: italic;
        font-weight: 200;
        color: #c2c3c2;
      }

      .sale {
        font-weight: 500;
        font-size: 30px;
      }
    }

    .view-stock {
      .stock {
        color: #212224;
        font-weight: 300;
        font-size: 13px;
      }
    }
  }

  .product-info {
    span {
      color: #212224;
      font-weight: 300;
      font-size: 13px !important;
    }
  }

  p {
    font-weight: 300;
    font-size: 13px;
    color: #4a4a4a;
    line-height: 1.7;
  }

  .cart-btn {
    i {
      font-size: 20px;
      color: #a0a1a7;
      padding-right: 7px;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      background-color: #060606;
      padding: 10px 30px 10px 30px !important;
      font-weight: 300;

      &:hover {
        color: #fff;
        background-color: #dccc99;
        border-color: #dccc99;
        padding: 12px 30px;
      }
    }
  }
}
